.default-layout-wrapper{
    background: beige;
    font-size: 1.1rem !important;
}
.header-wrapper{
}
.body-wrapper{
    min-height: 100vh;
}
.body-wrapper .body-wrapper-content{
    margin-top: 75px;
}