@mixin miniphone{
    @media screen and (max-width: 280px) {
        @content;
    }
}
@mixin mobile {
    @media screen and (max-width: 480px) {
        @content;
    }
}
@mixin tablet {
    @media screen and (max-width: 768px) {
        @content;
    }
}
@mixin laptop {
    @media screen and (max-width: 1200px) {
        @content;
    }
}
.login-wrapper {
    position: relative;
    width: 100%;
    height: 100vh;
    color: var(--main-bg-color);
    font-size: 1.25rem;
    display: flex;
    overflow: hidden;
    background-color: rgb(244, 244, 244);
    @include mobile(){
        font-size: 1.2rem;
    }
    @include miniphone(){
        font-size: 1rem;
    }
}

.login-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: calc(100vh - 150px);
    z-index: 1000;
    display: flex;
    border-radius: 7px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
    @include mobile(){
        display: block;
        width: 100%;
        height: 100vh;
    }
}
.left-login-form {
    background: white;
    width: 55%;
    height: 100%;
    border-radius: 7px 0 0 7px;
    position: relative;
    overflow: hidden;
    @include mobile(){
        display: none;
    }
}
.shape-wave{
    position: absolute;
    width: 100%;
    height: 100%;
}
.shape-wave svg{
    width: 165%;
    height: 120%;
    opacity: 0;
    transition: 1s ease-in-out;
}
.left-login-form .title {
    padding: 2px;
    z-index: 100;
    font-size: 2.5rem;
    position: absolute;
    top: 4%;
    left: -65%;
    font-weight: bold;
    transition: left 1s ease-in-out;
    overflow: hidden;
    color: rgb(239, 239, 240);
}
.education-svg {
    position: absolute;
    height: 60%;
    width: 60%;
    bottom: 16%;
    right: 6.5%;
    z-index: 10000;
}
.education-svg svg {
    width: 100%;
    height: 100%;
}

.login-form-container {
    background: white;
    width: 45%;
    height: 100%;
    border-radius: 0 7px 7px 0;
    padding: 5%;
    @include mobile(){
        width: 100%;
        padding: 100px 20px;
    }
}
.greeting-container{
    @include mobile(){
        text-align: center;
    }
}
.login-form h2.swing-animated {
    animation: swing 2s ease-in-out infinite;
    transform-origin: top center;
    display: inline-block;
}
@keyframes swing {
    0% {
        transform: rotate(0deg);
    }
    10% {
        transform: rotate(1deg);
    }
    20% {
        transform: rotate(2deg);
    }
    30% {
        transform: rotate(3deg);
    }
    40% {
        transform: rotate(4deg);
    }
    50% {
        transform: rotate(0deg);
    }
    60% {
        transform: rotate(-4deg);
    }
    70% {
        transform: rotate(-3deg);
    }
    80% {
        transform: rotate(-2deg);
    }
    90% {
        transform: rotate(-1deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
.login-form h1 {
    font-weight: bold;
    color: var(--main-bg-color);
}
.login-form h2 {
    color: var(--main-bg-color);
}
.login-form .greeting-container {
    margin-bottom: 10%;
}
.login-form .password-container {
    position: relative;
}
.password-container .eye {
    z-index: 1;
    position: absolute;
    right: 3%;
    top: 60%;
}
.login-form .login-form-action{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.login-form .btn-login {
    background: var(--main-bg-color);
    border: none;
    @include mobile(){
        font-size: 1rem !important;
    }
    @include miniphone(){
        font-size: 1rem !important;
    }
}
.login-form .btn-login:hover{
    opacity: 0.6;
}
